#load-more_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}
#load-more_container #load-more {
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  width: 22em;
  height: 3.5em;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: "Space Mono";
}
#load-more_container #load-more:hover {
  color: #fff;
  background-color: #000;
}

.filtre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 2rem;
}
.filtre #form-filters {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.filtre #form-filters .filtres-gauche {
  display: flex;
}
.filtre #form-filters .filtres-droite {
  margin-left: auto;
}
.filtre .custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 260px;
}
.filtre .custom-select-wrapper#ajax_call_formats {
  display: inline-block;
  margin-left: 2rem;
}
.filtre .custom-select-wrapper .custom-select {
  position: relative;
}
.filtre .custom-select-wrapper .custom-select__trigger {
  background-color: transparent;
  border: solid 1px #B8BBC2;
  border-radius: 8px 8px 0 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins-Medium";
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.filtre .custom-select-wrapper .custom-select__trigger:hover {
  background: #FFD6D6;
}
.filtre .custom-select-wrapper .custom-select__trigger .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  transition: transform 0.3s ease;
}
.filtre .custom-select-wrapper .custom-select__trigger.active {
  border: 1.3px solid #215AFF;
  outline: none;
}
.filtre .custom-select-wrapper .custom-select.open .custom-select__trigger .arrow {
  transform: rotate(180deg);
}
.filtre .custom-select-wrapper .custom-select .custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #B8BBC2;
  border-radius: 0 0 8px 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.filtre .custom-select-wrapper .custom-select .custom-options .custom-option {
  padding: 1em;
  cursor: pointer;
  font-family: "Poppins-Medium";
  font-size: 12px;
  display: block;
}
.filtre .custom-select-wrapper .custom-select .custom-options .custom-option:first-child {
  margin-top: 2rem;
}
.filtre .custom-select-wrapper .custom-select .custom-options .custom-option:hover {
  background: #FFD6D6;
}
.filtre .custom-select-wrapper .custom-select .custom-options .custom-option.selected {
  background: #E00000;
  color: white;
}
.filtre .custom-select-wrapper .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .filtre #form-filters .custom-select-wrapper {
    width: 17vh;
  }
}
@media screen and (max-width: 768px) {
  .filtre {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
    width: 80%;
  }
  .filtre #form-filters {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .filtre #form-filters .filtres-gauche,
  .filtre #form-filters .filtres-droite {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .filtre #form-filters label {
    margin-left: 0;
  }
  .filtre #form-filters .custom-select-wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
  .filtre #form-filters .custom-select-wrapper#ajax_call_formats {
    margin-left: 0;
  }
}/*# sourceMappingURL=front-page.css.map */