#load-more_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
        #load-more {
            border-radius: 2px;
            background: #D8D8D8;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
            display: flex;
            width: 22em;
            height: 3.5em;
            padding: 8px 15px;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            font-family: 'Space Mono'; 
            &:hover {
                color: #fff;
                background-color: #000;
            }
        }
    }

    .filtre {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 4rem 0 2rem;
        
        #form-filters {
            display: flex;
            width: 100%; // Forme étirée pour occuper toute la largeur disponible
            justify-content: space-between;
            
            .filtres-gauche {
                display: flex;
            }
            
            .filtres-droite {
                margin-left: auto;
            }
            
            label {
                &[for="formats"] {
                    display: inline-block;
                    margin-left: 2rem; // Ajout de la marge gauche
                }
            }
            
            select {
                background-color: transparent;
                border: solid 1px #B8BBC2;
                border-radius: 8px;
                text-transform: uppercase;
                font-family: "Poppins-Medium";
                padding: 1em;
                font-size: 12px;
                width: 260px;
                height: fit-content;
                
                &:focus {
                    border: 1.3px solid #215AFF;
                    outline: none;
                }
                
                option {
                    &:hover {
                        background: #FFD6D6 !important;
                    }
                    
                    &:checked {
                        background: #E00000 !important;
                    }
                }
            }
        }
    
    // Tablettes styles //
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        #form-filters {
            select {
                width : 17vh;
            }
        }
    }

    // Mobile styles //
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0;
        width: 80%;
        
        #form-filters {
            flex-direction: column;  // Passage en colonne
            align-items: flex-start;
            width: 100%; // Utiliser toute la largeur disponible
            .filtres-gauche,
            .filtres-droite {
                flex-direction: column;  // Passage en colonne
                align-items: flex-start;
                width: 100%;
            }
            label {
                margin-left: 0; // Enlève la marge gauche des labels pour un alignement plus propre
            }
            select {
                width: 100%; // Faire en sorte que chaque select prenne toute la largeur disponible
                margin-bottom: 1rem; // Espace entre les selects
            }
        }
    }
}
