.navheader {
  height: 80px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
}
.navheader .menu-principal {
  list-style: none;
  display: flex;
  gap: 45px;
}
.navheader .menu-principal li a {
  text-decoration: none;
  color: black;
}

.footer {
  height: 40px;
  width: 100%;
  border-top: solid black 1px;
}
.footer__menu {
  display: flex;
  justify-content: center;
}
.footer__menu .menu-footer {
  list-style: none;
  display: flex;
  gap: 70px;
  margin-right: 70px;
}
.footer__menu .menu-footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  .navheader {
    position: sticky;
    margin-top: 40px;
    height: 0;
    margin-left: 0;
    background-color: #FFFFFF;
    justify-content: start;
    width: 100vw;
  }
  .navheader .menu-principal li a {
    color: #FFFFFF;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 1000;
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
  }
  .burgerBouton {
    width: 35px;
    height: 20px;
    cursor: pointer;
    position: relative;
    right: 30px;
  }
  .burgerBouton span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
  }
  .burgerBouton span::before, .burgerBouton span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform 0.5s ease-in-out;
  }
  .burgerBouton span::before {
    transform: translateY(-10px);
  }
  .burgerBouton span::after {
    transform: translateY(10px);
  }
  .burgerBouton.open span {
    background-color: transparent !important;
  }
  .burgerBouton.open span::before {
    transform: translateY(0px) rotateZ(45deg);
  }
  .burgerBouton.open span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }
  .nav-burger {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E00000;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 999;
  }
  .nav-burger.active {
    opacity: 1;
    visibility: visible;
    animation: burger-open 1s ease-in-out;
  }
  .nav-burger ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 210px;
    margin-bottom: 130px;
  }
  .nav-burger li {
    font-weight: normal;
    font-size: 45px;
    line-height: 40px;
    list-style: none;
    margin: 0;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__menu .menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}/*# sourceMappingURL=menus.css.map */