.page-photo {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10%;

    &_section-bloc {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 2em;
        margin-bottom: 2em;

        &_info {
            display: inline-flex;
            flex-direction: column;
            width: 50%;
            gap: 7px;
            border-bottom: 1px solid black;
            margin: 0;
            padding-right: 17em;
            padding-bottom: 2em;
            margin-right: 2em;
            list-style: none;

            h1 {
                font-family: "SpaceMono-Regular";
                font-size: 66px;
                color: #000;
                font-style: italic;
                font-weight: 400;
                line-height: 58px;
                text-transform: uppercase;
                margin-bottom: 9px;
            }
        }
    }

    .detail-info-photo {
        color: #000;
        font-family: "SpaceMono-Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        a {
            color: #000;
        }
    }

    .img-single {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; /* Centrer verticalement l'image */
    
        &__overlay {
            position: relative;
            display: flex;
            width: 100%; /* S'adapte à tout l'espace disponible */
            height: 100%; /* Prend la hauteur disponible */
        }
    
        img {
            width: auto; /* Respecte le ratio d'aspect */
            max-width: 100%; /* Ne dépasse pas la largeur du conteneur */
            height: auto; /* Respecte le ratio d'aspect */
            max-height: 90vh; /* Ne dépasse pas la hauteur de l'écran visible */
            object-fit: contain; /* Garde les proportions */
            display: block;
        }
    
        .overlay-single {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            display: none;
            z-index: 10;
        }
    
        &:hover .overlay-single {
            display: block;
        }
    
        img.fullscreen-icon {
            width: 35px;
            height: 35px;
        }
    }


    // Section contact //

        // Section contact //

        .page-photo_contact {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding-top: 0.5em;
            height: 118px;
    
            &__bouton {
                display: flex;
                gap: 84px;
    
                p {
                    font-family: "Poppins";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
    
                #btn-contact {
                    border-radius: 2px;
                    background: #D8D8D8;
                    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
                    display: flex;
                    width: 22em;
                    height: 3.5em;
                    padding: 8px 15px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border: none;
                    cursor: pointer;
    
                    &:hover {
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
    
            &__navigation-arrows {
                align-items: center;
                display: flex;
                gap: 2em;
                position: relative;
                
                .arrow-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
            
                    &:hover .container-miniature {
                        display: block;
                    }
                }
    
                .container-miniature-previous {
                    width: 81px;
                    height: 71px;
                    background-color: #d8d8d8;
                    overflow: hidden;
                    display: none;
                    position: absolute;
                    bottom: 30px;
                    left: 1px;
            
                    &__img-arrows {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            
                .container-miniature-next {
                    width: 80px;
                    height: 70px;
                    background-color: #d8d8d8;
                    overflow: hidden;
                    display: none;
                    position: absolute;
                    bottom: 30px;
                    right: 0;
            
                    &__img-arrows {
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }